{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Thiago Jaques</title>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/projeto01.css"%}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        // Adiciona funcionalidade ao botão "Voltar ao Topo"
        window.addEventListener('scroll', () => {
            const btn = document.getElementById('btn-top');
            if (window.scrollY > 100) {
                btn.style.display = 'block';
            } else {
                btn.style.display = 'none';
            }
        });
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</head>

<body>
    <!-- Cabeçalho -->

    <header class="menu">
        <div class="menu-cont">
            <h1>
                <a class="logo" href="#">JAQUES </a>
            </h1>
            <nav>
                <ul>
                    <li> <a href="#cabeçalho">Inicio</a> </li>
                    <li> <a href="#projetos">Projetos</a> </li>
                    <li> <a href="#contato">Contato</a> </li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Seção de Introdução -->
    <div class="intro">
        <div  class="background">
            <img class="img" src="static/img/img4.jpg" alt="Imagem de uma onça">
        </div>
    <!-- Texto de introdução -->
        <div class="intro-text">
            <h1 class="autor">Thiago Jaques</h1>
            <h2 class="titulo">BACK-END DEVELOPER</h2>
            <p class="descricao">
                Sou Thiago Jaques, cristão, casado e pai do Khawann, da
                Maitê e da Madelayne. Minha trajetória profissional começou no
                empreendedorismo, onde desenvolvi habilidades comportamentais,
                emocionais e de comunicação que me ajudam a navegar em
                ambientes dinâmicos e desafiadores.
                Com o impacto da pandemia, fui inspirado a buscar uma transição
                de carreira para a área de tecnologia, um campo que sempre me
                fascinou. Decidi iniciar minha graduação em Ciência da Computação
                e, desde então, tenho me aprofundado em diversas áreas da
                tecnologia, com um foco especial no desenvolvimento de soluções
                web back-end utilizando Python e o framework Django.
                Estou constantemente expandindo meus conhecimentos e
                habilidades, buscando criar soluções inovadoras que agreguem
                valor. Estou empolgado com as possibilidades que a tecnologia
                oferece e com os desafios dessa jornada.

                Áreas de interesse
                Desenvolvimento back-end
                Frameworks Python (Django, Flask)
                Modelagem e otimização de bancos de dados
                Soluções tecnológicas para transformação digital.
                Estou sempre aberto a trocar ideias, colaborar em projetos ou
                discutir tendências na área de tecnologia.
            </p>
        </div>
    </div>

    <!-- Seção de Projetos -->
    <section id="projetos">
        <h2 class="section-title">Projetos</h2>
        <div class="projects">
            <div class="project">
                <h3>Projeto 1</h3>
                <p>Uma solução web para otimizar vendas online usando Django.</p>
            </div>
            <div class="project">
                <h3>Projeto 2</h3>
                <p>API REST para gerenciamento de tarefas com autenticação segura.</p>
            </div>
            <div class="project">
                <h3>Projeto 3</h3>
                <p>Dashboard interativo para análise de dados de negócios.</p>
            </div>
        </div>
    </section>

    <!-- Seção de Contato -->
    <section id="contato">
        <h2 class="section-title">Entre em Contato</h2>
        <form class="contact-form" action="{% url 'base:home' %}" method="POST">
            {% csrf_token %}
            <div class="form-group" >
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required placeholder="Seu nome">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Seu email">
                </div>
                <div class="form-group">
                    <label for="mensagem">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" required placeholder="Sua mensagem"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="button-addon2">Enviar</button>
            </div>
            <small class="form-text text-muted">{{ form.nome.errors }}</small>
        </form>
    </section>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 Thiago Jaques. Todos os direitos reservados.</p>
    </footer>

    <script>
        // Seleciona os elementos
        const menuToggle = document.getElementById('menuToggle');
        const menu = document.getElementById('menu');
    
        // Adiciona o evento de clique no ícone do menu
        menuToggle.addEventListener('click', () => {
            menu.classList.toggle('show'); // Adiciona ou remove a classe 'show' para mostrar ou ocultar o menu
        });
    </script>
    
</body>
</html>
